body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9cdf4;
}

header {
    color: #ff0080;
    width: 100%;
    height: 80px;
    background-color: #7c319f;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#contenido {
    padding-top: 100px;
    padding-bottom: 100px;
}

#tarjeta{
    width: 800px;
    height: 400px;
    background-image: url(../Image/fondo.png);
    background-position: center;
    background-size: cover;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
    color: #e4c8dc;
    width: 100%;
    height: 50px;
    background-color: #7c319f;
    position: fixed;
    bottom: -30px;
    left: 0;
    margin: 0;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

        #nombre, h2, #editar{
            text-align: center;
            margin-top: 8%;
            color: rgb(255, 255, 255);
        }

        #nombre{
            font-family: cursive;
            font-size: 4rem;
        }

        h2{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }

        #editar{
            padding: 10px;
            font-size: 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

label{
    cursor: pointer;
}

#ventana:checked ~ .contenedor{
    display: flex;
}

#ventana{
    display: none;
}


    .contenedor{
        display: none;
    }
    .contenido{
        height: 100px;
        width: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 3px solid white;
        font-size: 1rem;
        text-align: center;
        padding: 30px;
        padding-bottom: 60px;
        background-color: #bf00ff;
        border-radius: 5%;
    }
        
            figure{
                width: 170.34px;
                margin: 0px auto;
            }

            .entrada{
                margin-top: 10%;
                text-align: center;
                border-radius: 10%;
            }

                    .guardar{
                        position: absolute;
                        bottom: 3%;
                        left: 50%;
                        transform: translateX(-50%);
                        text-align: center;
                        font-size: .8rem;
                        width: 15%;
                        padding: 7px;
                        background-color: #e924a1;
                        color: white;
                        border-radius: 10%;
                    }
            
                    .guardar:hover{
                        background-color: #ff0073 !important;
                    }
            
                    