body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1{
    font-family: cursive;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #ff00ae;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}