body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1{
    font-family: cursive;
}
input[type="number"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ff00aa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

img {
    max-width: 70%;
    margin-top: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}